body,
#root,
html,
.app,
.main {
  /* min-height: 100vh; */
  min-height: 100vh;
  min-width: 100vh;
}

.header > ul {
  list-style: none;
}

.header li > a {
  text-decoration: none;
  color: rgb(85, 177, 207);
}

.header li > a:hover {
  color: rgb(72, 158, 187);
}

.header ul {
  padding: 0;
  display: flex;
  justify-content: flex-start;
}

.header ul > li {
  margin-right: 10px;
}

.main,
.yes {
  background: lightblue;
}

.footer {
  background: red;
}
